/* style.css - starter styles */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #111;
}

/* Nav section styling */
.custom-navbar{
    background: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    transition: all 0.4s ease;
    padding: 15px 0;
}

.navbar-brand{
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(255 , 193 , 7 , 0.4);
}

.nav-link{
    color: white !important;
    font-weight: 500;
    margin:  0 10px;
    position: relative;
    transition: all 0.3s ease;
}

.nav-link::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #ffc107;
    left: 0;
    bottom: -5px;
    transition: all 0.3s ease;
}
.nav-link:hover::after{
    width: 100%;
}

.nav-link:hover{
    color: #ffc107 !important;
    transform: scale(1.1);
}

.nav-link.active{
    color: #ffc107 !important;
}

.navbar.scrolled{
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 10px 0;
}

/* Home Section Styles */
#home{
    background: linear-gradient(rgba(0 , 0, 0,0.6), rgba(0 , 0, 0,0.6)) , 
                      url('/assets/bg_imge.jpg') 
                      no-repeat center center/cover;
    color: white;
    position: relative;
    text-shadow: 2px 2px 8px #000000;     
                      
}

/* text Animation - typeWriterEect  */
.typewriter{
    display: inline-block;
    border-right: 3px solid #ffc107;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(20) 1s 1 normal both, blink 0.7s infinite;
    margin-top: 50px;

    vertical-align: sub;
    line-height: 1.2;
}

@keyframes typing {
    from{ width: 0;}
    to{width: 14ch;}

}
@keyframes blink {
    50%{border-color:transparent;}
}

#home .button{
    transition: all 0.3s ease;
}

#home .button:hover{
    background: #fff;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 0 10px #ffc107;
}


/* About Section Styling */

.about-section{
    background-image: linear-gradient( 135deg, #f8f9fa , #e9ecef);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0 , 0, 0,0.1);
}

.about-section h2 {

   color:#0d6efd;
   position: relative;
   display: inline-block;
}

.about-section h2 ::after{
     content : '';
     position: absolute;
     width: 50%;
     height: 50%;
     background: #0d6efd;
     left: 25%;
     bottom: -8px;
     border-radius: 10px;
}


.about-img img {
    width:250px;
    height: 230px;
    border-radius: 50%;
    border: 6px solid #0d6efd;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 0 15px rgba(13 ,110 , 253 , 0.3) , rgba(13 ,110 , 253 , 0.3);
}

.about-img img:hover {
    transform: scale(1.05) rotate(3deg);
    box-shadow: 0 0 25px rgba(13 ,110 , 253 , 0.5);
}

.about-section div {
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}
.about-section p{
    line-height: 1.7;
    font-size: 16px;
}

.about-section a.btn{
    border-radius: 30px;
    transition: all 0.3s ease;
}

.about-section a.btn :hover{
    transform : translateY(-3px);
    box-shadow: 0 5px 15px rgba();
}


/* Skill Section */

.skills-section{
    background: linear-gradient(135deg , #f3f6ff , #ffffff);
    border-radius: 20px;
    padding: 60px 0;
}

.skills-section h2{
    color: #0d6efd;
    position: relative;
    display: inline-block;

}

.skills-section h2 ::after{
     content : '';
     position: absolute;
     width: 50%;
     height: 3px;
     background: #0d6efd;
     left: 25%;
     bottom: -8px;
     border-radius: 10px;
}

.skill-box{
    background-color: white;
    transition: all 0.3s ease;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1); 
    cursor: pointer;
    border-radius: 15px;

}

.skill-box:hover{
    transform: translateY(-7px);
    border-color: #0d6efd;
    box-shadow:  0 8px 20px rgba(216, 51, 60, 0.3);
    background: linear-gradient(135deg , #e9ecef , #ffffff);
}

.skill-box h6{
    color: #333
}

.progress{
    height: 10px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #e9ecef;
}

.progress-bar {
    width: 0%;
    transition: width 2s ease;
    border-radius: 20px;
}


/* Project section */
.projects-section {
      background: linear-gradient(135deg ,  #f3f6ff , #ffffff);
      border-radius: 20px;
}

.projects-section  h2{
    color: #0d6efd;
    position: relative;
}

.projects-section h2 ::after{

     content : '';
     position: absolute;
     width: 50%;
     height: 3px;
     background: #0d6efd;
     left: 25%;
     bottom: -8px;
     border-radius: 10px;
}

.project-card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.4s ease , box-shadow 0.4s ease;
}

.project-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(13 ,110 , 253 , 0.3);
}

.project-card:hover img {
    transform: scale(1.1);
}

.project-overlay{
    position: absolute;
    inset:0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    transition: opacity 0.4s ease;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}